In [23]:
import os
import pandas as pd
import numpy as np

REPO_FILEPATH = os.getenv("REPO_FILEPATH")

In [31]:
strain = pd.read_csv(REPO_FILEPATH + '/data/Cannabis_Strain_NA.csv')

In [13]:
print(strain.shape)
print(strain.columns)
strain.head(1)

(9483, 43)
Index(['id', 'name', 'type', 'effects', 'ailment', 'flavor', 'location', 'thc',
       'cbd', 'Citrus', 'Sweet', 'Earthy', 'Pine', 'Skunk', 'Berry', 'Lemon',
       'Lime', 'Blueberry', 'Strawberry', 'Mango', 'Rose', 'Pepper',
       'Depression', 'Pain', 'Insomnia', 'Stress', 'Lack of Appetite',
       'Muscle Spasms', 'Nausea', 'Inflammation', 'Relaxed', 'Happy',
       'Euphoric', 'Uplifted', 'Sleepy', 'Dry Mouth', 'Focused', 'Energetic',
       'Paranoid', 'Anxious', 'Hungry', 'Talkative', 'Creative'],
      dtype='object')

,id,name,type,effects,ailment,flavor,location,thc,cbd,Citrus,...,Uplifted,Sleepy,Dry Mouth,Focused,Energetic,Paranoid,Anxious,Hungry,Talkative,Creative
0,1,100 OG,Hybrid,Focused,Depression,Citrus,NaN,127,16,True,...,False,False,False,True,False,False,False,False,False,False

In [26]:
strain.columns[9:]

Index(['Citrus', 'Sweet', 'Earthy', 'Pine', 'Skunk', 'Berry', 'Lemon', 'Lime',
       'Blueberry', 'Strawberry', 'Mango', 'Rose', 'Pepper', 'Depression',
       'Pain', 'Insomnia', 'Stress', 'Lack of Appetite', 'Muscle Spasms',
       'Nausea', 'Inflammation', 'Relaxed', 'Happy', 'Euphoric', 'Uplifted',
       'Sleepy', 'Dry Mouth', 'Focused', 'Energetic', 'Paranoid', 'Anxious',
       'Hungry', 'Talkative', 'Creative'],
      dtype='object')

In [32]:
def update_na(series):
    return series.fillna('Unknown')

def bool_to_tri(series):
    return series.replace({False: 0, True: 1, np.NaN: 2})

strain_update_loc = strain.copy()
strain[strain.columns[0:7]] = strain[strain.columns[0:7]].apply(update_na)
strain[strain.columns[9:]] = strain[strain.columns[9:]].apply(bool_to_tri)
strain.head()

,id,name,type,effects,ailment,flavor,location,thc,cbd,Citrus,...,Uplifted,Sleepy,Dry Mouth,Focused,Energetic,Paranoid,Anxious,Hungry,Talkative,Creative
0,1,100 OG,Hybrid,Focused,Depression,Citrus,Unknown,127,16,1,...,0,0,0,1,0,0,0,0,0,0
1,2,707 Headband,Hybrid,Unknown,Unknown,Unknown,Unknown,127,0,2,...,2,2,2,2,2,2,2,2,2,2
2,5,Afghani Bullrider,Hybrid,"Uplifted, Relaxed, Happy, Euphoric, Dry Mouth,...","Stress, Depression, Insomnia, Pain","Sweet, Pine, Earthy",Unknown,127,0,0,...,1,0,1,0,0,1,0,0,0,0
3,7,Afghan Diesel,Hybrid,Unknown,Unknown,Unknown,Unknown,0,0,2,...,2,2,2,2,2,2,2,2,2,2
4,8,Afghan Kush,Hybrid,Unknown,Unknown,Unknown,"Yucca Valley, CA",1300,0,2,...,2,2,2,2,2,2,2,2,2,2

[0       1
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    1
 9482    0
 Name: Citrus, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    0
 9479    1
 9480    2
 9481    1
 9482    0
 Name: Sweet, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    1
 Name: Earthy, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Pine, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Skunk, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Berry, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Lemon, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    1
 9482    0
 Name: Lime, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Blueberry, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Strawberry, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Mango, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Rose, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    1
 9480    2
 9481    0
 9482    0
 Name: Pepper, Length: 9483, dtype: int64,
 0       1
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    1
 9482    0
 Name: Depression, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    0
 9482    0
 Name: Pain, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Insomnia, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    1
 9482    1
 Name: Stress, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Lack of Appetite, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Muscle Spasms, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    1
 9480    2
 9481    0
 9482    1
 Name: Nausea, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Inflammation, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    1
 Name: Relaxed, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    0
 9479    1
 9480    2
 9481    1
 9482    1
 Name: Happy, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    1
 Name: Euphoric, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    1
 9482    0
 Name: Uplifted, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Sleepy, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    1
 Name: Dry Mouth, Length: 9483, dtype: int64,
 0       1
 1       2
 2       0
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    0
 9482    1
 Name: Focused, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    1
 9479    1
 9480    2
 9481    1
 9482    0
 Name: Energetic, Length: 9483, dtype: int64,
 0       0
 1       2
 2       1
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Paranoid, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    1
 Name: Anxious, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Hungry, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    0
 9479    1
 9480    2
 9481    1
 9482    1
 Name: Talkative, Length: 9483, dtype: int64,
 0       0
 1       2
 2       0
 3       2
 4       2
        ..
 9478    1
 9479    0
 9480    2
 9481    0
 9482    0
 Name: Creative, Length: 9483, dtype: int64]

In [47]:
help(np.where)

Help on function where in module numpy:

where(...)
    where(condition, [x, y])

    Return elements chosen from `x` or `y` depending on `condition`.

    .. note::
        When only `condition` is provided, this function is a shorthand for
        ``np.asarray(condition).nonzero()``. Using `nonzero` directly should be
        preferred, as it behaves correctly for subclasses. The rest of this
        documentation covers only the case where all three arguments are
        provided.

    Parameters
    ----------
    condition : array_like, bool
        Where True, yield `x`, otherwise yield `y`.
    x, y : array_like
        Values from which to choose. `x`, `y` and `condition` need to be
        broadcastable to some shape.

    Returns
    -------
    out : ndarray
        An array with elements from `x` where `condition` is True, and elements
        from `y` elsewhere.

    See Also
    --------
    choose
    nonzero : The function that is called when x and y are omitted

    Notes
    -----
    If all the arrays are 1-D, `where` is equivalent to::

        [xv if c else yv
         for c, xv, yv in zip(condition, x, y)]

    Examples
    --------
    >>> a = np.arange(10)
    >>> a
    array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
    >>> np.where(a < 5, a, 10*a)
    array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

    This can be used on multidimensional arrays too:

    >>> np.where([[True, False], [True, True]],
    ...          [[1, 2], [3, 4]],
    ...          [[9, 8], [7, 6]])
    array([[1, 8],
           [3, 4]])

    The shapes of x, y, and the condition are broadcast together:

    >>> x, y = np.ogrid[:3, :4]
    >>> np.where(x < y, x, 10 + y)  # both x and 10+y are broadcast
    array([[10,  0,  0,  0],
           [10, 11,  1,  1],
           [10, 11, 12,  2]])

    >>> a = np.array([[0, 1, 2],
    ...               [0, 2, 4],
    ...               [0, 3, 6]])
    >>> np.where(a < 4, a, -1)  # -1 is broadcast
    array([[ 0,  1,  2],
           [ 0,  2, -1],
           [ 0,  3, -1]])